__pycache__
.env
*.log
*.ipynb_checkpoints
Data/*
**/Data/

*DS_Store

.vscode/*

UtilsDynamicSimulations/OpenSimAD/build-ExpressionGraphF*
UtilsDynamicSimulations/OpenSimAD/build-ExternalFunctionF*
UtilsDynamicSimulations/OpenSimAD/install-ExternalFunctionF*
UtilsDynamicSimulations/OpenSimAD/opensimAD-install/*

# Carpetas de datos y resultados
all_forces/
data_bases/
graficas/
graficas_gfr/
graficas_gfr_all/
graficas_gfr_vs_rod/
graficas_rod_gfr/
images_graficas/
tablas_af/
tablas_af_legacy/
resultados_fuerza/
validation_results/
Ariticulo/
up_drive/
output/
notebooks/analisis.ipynb
notebooks/data.ipynb
notebooks/data_articular_f.ipynb
notebooks/data_analisis.ipynb
config/
# Archivos grandes que no deben estar en el repo
*.mat
*.xlsx
*.c3d
*.png
*.json


# Entornos virtuales
up_drive/.venv/
.venv/
venv/

.python-version
data_participantes/





